<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<script src="commom-script.js"></script>
	<meta charset="UTF-8" http-equiv="Content-Type">
	<title>API Para Cadastro de Clientes e Ordens de Serviços</title>
</head>
<body style="padding-left: 90px; padding-right: 90px; padding-top: 10px; font-family: helvetica">
	<h1 align="center">API Para Cadastro de Clientes e Ordens de Serviços</h1>
	<br/>
	<p>
		Esta página inicial foi criada para indicar ao usuário os principais <i>endpoints</i>
		desta API.
	</p>
	<div>
		<b>A API funciona seguindo o seguinte relacionamento entre as entidades:</b>
		<ul>
			<li>Um cliente pode possuir várias ordens de serviço.</li> 
			<li>Uma ordem de serviço precisa necessariamente estar vinculada a um cliente.</li> 
			<li>Uma ordem de serviço pode estar com os seguintes <i>status</i>: ABERTA, CANCELADA ou FINALIZADO</li> 
			<li>Uma ordem de serviço pode ter 0 ou mais comentários.</li> 
		</ul>
		Em caso de dúvidas, acesse a documentação da API no ink abaixo:
	</div>
	<div align="center" style="padding-bottom: 10px; padding-bottom: 10px">
		<!-- <img height="32" width="32" alt="GitHub API Docs" src="../src/main/resources/image/GitHub-32px.png" style="padding-right: 3px"> -->
		<a href="https://github.com/GanaxXD/SpringClient#readme" style="color: blue;">Documentação da API</a>
	</div>
	<br/>
	<h3>EndPoints:</h3>
	<h4 style="font-style: italic;">Para a entidade "Clientes"</h4>
	<ul>
		<li><b>"https://api-client-serviceorder.herokuapp.com/clientes"</b> (usando o método GET) 
				para listar todos os clientes cadastrados.
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/clientes/{id_cliente}" </b>
				(usando o método GET) para trazer o cliente cadastrado com o id(número inteiro) informado.
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/clientes" </b>
			(usando o método POST) para criar um cliente com as informações solicitadas,
			sendo elas: Nome, E-Mail e Telefone (todos do tipo String).
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/clientes/{id_cliente}" </b>
			(usando o método POST) para atualizar os dados de um cliente com as informações passadas. 
			Lembrando que as informações possíveis de serem passadas ao servidor são: Nome, E-Mail e Telefone (todos do tipo String).
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/clientes/{id_cliente}" </b>
				(usando o método DELETE) para deletar o cliente cadastrado com o id(número inteiro) informado.
		</li>
	</ul>
	
	
	<br/>
	<h4 style="font-style: italic;">Para a entidade "Ordem de Serviço"</h4>
	<ul>
		<li><b>"https://api-client-serviceorder.herokuapp.com/ordemservico" </b>(usando o método GET) 
				para listar todas as ordens de serviço cadastradas.
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/ordemservico/{id_ordemservico}" </b>
				(usando o método GET) para trazer a ordem de serviço cadastrada com o id(número inteiro) informado.
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/ordemservico" </b>
			(usando o método POST) para criar uma ordem se derviço com as informações solicitadas,
			sendo elas: Descrição (String), Preço (double) e Id do CLiente (número inteiro).
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/ordemservico/{id_ordemservico}" </b>
			(usando o método PUT) para atualizar os dados de uma ordem de serviço. 
			Lembrando que as informações possíveis de serem passadas ao servidor são: escrição (String), Preço (double) 
			e Id do CLiente (número inteiro).
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/ordemservico/{id_ordemservico}" </b>
				(usando o método DELETE) para deletar a ordem de serviço cadastrada com o id(número inteiro) informado.
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/ordemservico/{id_ordemservico}/cancelar" </b>
				(usando o método PUT) para alterar o status da ordem de serviço 
				cadastrada com o id(número inteiro) informado para CANCELADO.
		</li>
		<li><b>"https://api-client-serviceorder.herokuapp.com/ordemservico/{id_ordemservico}/finalizar" </b>
				(usando o método PUT) para alterar o status da ordem de serviço 
				cadastrada com o id(número inteiro) informado para FINALIZADO.
		</li>
	</ul>
	
	<br/>
	<h4 style="font-style: italic;">Para a entidade "Comentário"</h4>
	<ul>
		<li><b>"https://api-client-serviceorder.herokuapp.com/ordemservico/{id_ordemservico}/comentario" </b>(usando o método GET) 
				para listar todos os comentários de uma ordens de serviço cadastrada.
		</li>
	</ul>
</body>
</html>